            body {
                background-color: #ffffcb;
                background-image: url(torta_limao_backS.png), url(torta_limao_backI.png);
                background-repeat: repeat-x, repeat-x;
                background-position: top, bottom;
                margin: 50px 350px;
                font-family: Arial, sans-serif;
            }    
            h1{
                color:  #FF9900;
            }
            h2{
                background-color: #FF9900;
                color: white;
                padding: 7px 0px 5px 5px;
                margin: 0px -70px 0px 0px;
            } 
            ul:last-of-type {
                border-radius: 0 0 25px 25px; 
            }   
            ul {
                list-style-image: url(torta_limao_item1.gif);
                background-color: #daff95;
                padding: 7px 5px 5px 30px;
                margin: 0px -70px 0px 0px;
            }
            ul ul {
                list-style-image: url(torta_limao_item3.gif);
                margin: 0;
            }
            ul ul ul {
                list-style-image: url(torta_limao_item2.gif);
                margin: 0;
            }
            li {
                margin: 2px 0;
            }